In [ ]:
{'Obama':'Hawaii'}

{'Obama': 'Hawaii'}

In [ ]:
#1. Create Dictionary
a = {'Obama':'Hawaii','Bush':'Texas','Clinton':'Arkansas','Trump':'New York'}

In [ ]:
type(a)

dict

In [ ]:
print(a['Obama'])
print(a['Bush'])
print(a['Clinton'])
print(a['Trump'])
########
print(a.keys())
print(a.values())
print(a.items())

Hawaii
Texas
Arkansas
New York

dict_keys(['Obama', 'Bush', 'Clinton', 'Trump'])

In [ ]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['Obama', 'Bush', 'Clinton', 'Trump'])
dict_values(['Hawaii', 'Texas', 'Arkansas', 'New York'])
dict_items([('Obama', 'Hawaii'), ('Bush', 'Texas'), ('Clinton', 'Arkansas'), ('Trump', 'New York')])

In [ ]:
[item.upper() for item in a.keys()]

['OBAMA', 'BUSH', 'CLINTON', 'TRUMP']

In [ ]:
#2. Loop list for Creatinmg Dictionary
colors = ['red','orange','yellow','green','blue','indigo','violet']
d = dict()
for color in colors:
  key = len(color)
  print(key)
  if key not in d:
    d[key] = []
  d[key].append(color)
############
print(f"d: {d}")
print(d.keys())
print(d.items())
print(d.values())

3
6
6
5
4
6
6
d: {3: ['red'], 6: ['orange', 'yellow', 'indigo', 'violet'], 5: ['green'], 4: ['blue']}
dict_keys([3, 6, 5, 4])
dict_items([(3, ['red']), (6, ['orange', 'yellow', 'indigo', 'violet']), (5, ['green']), (4, ['blue'])])
dict_values([['red'], ['orange', 'yellow', 'indigo', 'violet'], ['green'], ['blue']])

In [ ]:
#3. Membership - in,not in
'Obama' in a

True

In [ ]:
'Franklin' not in a

True

In [ ]:
#4. Create Dict 1key - M values
shopping = {'produce': ['apples','oranges','spinach','carrots'],'meat':['ground beef','chicken breast']}

In [ ]:
shopping['meat']
shopping['produce']

['apples', 'oranges', 'spinach', 'carrots']

In [ ]:
print('Produce items on your list: ')
for item in shopping['produce']:
  print("* " + item, end = ' ')

Produce items on your list:
* apples * oranges * spinach * carrots

In [ ]:
#5.
shopping = {'produce': {'fruits':['apples','oranges'],'vegetables': ['spinach','carrots']},'meat':['ground beef','chicken breast']}

In [ ]:
# A list of all fruits
print(shopping['produce']['fruits'])
# A list of all vegetables
print(shopping['produce']['vegetables'])
# A list of all meat
print(shopping['meat'])

###
print(shopping['produce'].keys())
print(shopping['produce'].items())
print(shopping['produce']['fruits'][0])
print(shopping['produce']['vegetables'][1])

['apples', 'oranges']
['spinach', 'carrots']
['ground beef', 'chicken breast']
dict_keys(['fruits', 'vegetables'])
dict_items([('fruits', ['apples', 'oranges']), ('vegetables', ['spinach', 'carrots'])])
apples
carrots

In [ ]:
#6 Adding new item
president_state = {'Obama':'Hawaii','Bush':'Texas','Clinton':'Arkansas','Trump':'New York'}

In [ ]:
#6.1
president_state['Reagan'] = 'California'
president_state

{'Obama': 'Hawaii',
 'Bush': 'Texas',
 'Clinton': 'Arkansas',
 'Trump': 'New York',
 'Reagan': 'California'}

In [ ]:
#6.2
for item in president_state:
  print(item)

Obama
Bush
Clinton
Trump
Reagan

In [ ]:
#7
{'a':1,'a':2,'a':3}

{'a': 3}

In [ ]:
#8
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [ ]:
#9.
a = set([1,2,3,4,5])
b = set([3,4,5,6])

# a | b
# a & b
# a issubset(b)
# a - b

In [ ]:
print(a| b) #union
print(a & b) # intersection
print(a.issubset(b)) # issubset
print(a - b) # difference

{1, 2, 3, 4, 5, 6}
{3, 4, 5}
False
{1, 2}

In [ ]:
#9.2
t = ['alpha','beta','gamma','delta']
print(t[-2])
print(t[1:3])

gamma
['beta', 'gamma']

In [ ]:
t.append('epsilon')
print(t)

['alpha', 'beta', 'gamma', 'delta', 'epsilon']

In [ ]:
#10
counts = {'chuck':1,'annie':2,'jan':3}
lst = list(counts.keys())
print(lst)
lst.sort()
print(lst)
for key in lst:
  print(key,counts[key])

['chuck', 'annie', 'jan']
['annie', 'chuck', 'jan']
annie 2
chuck 1
jan 3

In [ ]:
# 11
sum = 0
for i in range(10):
  for j in range(10):
    sum += i + j
print(sum)

900
18

In [135]:
#       *
#      ***
#     *****
#    *******
#   *********

for i in range(5) :
  print(' ' * (5 - i),end = '')
  for j in range((2 * i) + 1):
    print("*",end = '')
  print()

     *
    ***
   *****
  *******
 *********