In [12]:
#1.
x = int(input("Enter a number: "))

if (x % 3 == 0 and ((x >= -75 and x <= 75) or (x >= 50 and x <= 75))):
  print("Correct Input!")
else:
  print("Incorrect Input!")

Enter a number: 60
Correct Input!

In [13]:
#2.
li = [12,24,35,70,88,120,155]
li = [x for x in li if x % 35!=0]
print(li)

[12, 24, 88, 120, 155]

In [14]:
#3.

li = [12,24,35,70,88,120,155]
li = [li[x] for x in range(len(li)) if x%2!=0]

print(li)

[24, 70, 120]

In [29]:
#4.
start = -75
test = 0
while (True):
  if (start % 3 == 0 and ((start >= -75 and start <= -25 or start >= 50 and start <= 75))):
    test += 1
    print("Number : ",start,test)
  start += 1
  if (start > 75):
    break

Number :  -75 1
Number :  -72 2
Number :  -69 3
Number :  -66 4
Number :  -63 5
Number :  -60 6
Number :  -57 7
Number :  -54 8
Number :  -51 9
Number :  -48 10
Number :  -45 11
Number :  -42 12
Number :  -39 13
Number :  -36 14
Number :  -33 15
Number :  -30 16
Number :  -27 17
Number :  51 18
Number :  54 19
Number :  57 20
Number :  60 21
Number :  63 22
Number :  66 23
Number :  69 24
Number :  72 25
Number :  75 26

In [25]:
#5.

def count_matrix_elements(matrix):
  count = 0
  for row in matrix:
    for element in row:
      count += 1
  return count

table = [[5,2,6],[4,6,0],[9,1,8],[7,3,8]]
print(count_matrix_elements(table))

12

In [32]:
#6
s = input()
dic = {word:s.count(word) for word in s}
for k,v in dic.items():
  print(f"{k},{v}")

test
t,2
e,1
s,1

In [33]:
#7
def vowel_counter(sentence):
  count = 0
  for ind in sentence:
    if (ind.lower() in ['a','e','i','o','u']):
      count += 1

  return count
sent = "My name is kao"
print(vowel_counter(sent))

5

In [35]:
#8
2 ** (4- 3) % 2 == 0

True

True

In [36]:
#9

li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

In [39]:
#10

value = []
items = [int(x) for x in input().split(',')]
result = " ".join(str(x) for x in items if x%5==0)
print("".join(result))

3100,10003,1030,3001
3100 1030

In [41]:
import random
number = [x for x in range(10,151) if x%35==0]

random.choice(number)

105

In [48]:
salary = int(input("Your Salary: "))

def calculate_tax(salary):
    tax = 0
    if salary > 418400:
        tax += (salary - 418400) * 0.396
        salary = 418400
    if salary > 416700:
        tax += (salary - 416700) * 0.35
        salary = 416700
    if salary > 191650:
        tax += (salary - 191650) * 0.33
        salary = 191650
    if salary > 91900:
        tax += (salary - 91900) * 0.28
        salary = 91900
    if salary > 37950:
        tax += (salary - 37950) * 0.25
        salary = 37950
    if salary > 9325:
        tax += (salary - 9325) * 0.15
        salary = 9325
    if salary > 0:
        tax += salary * 0.10
    return tax

print(f"Total tax: {calculate_tax(salary):}")

Your Salary: 400000
Total tax: 115399.25